<ion-view>
  <ion-content class="padding">
    <main id="tournament">
      <h2>Tap a match to see details!</h2>
    	<ul class="round round-1">
    		<li class="spacer">&nbsp;</li>

        <a ui-sref='round-details'>
    		<li class="game game-top winner">User 1</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">User 2</li>
        </a>

    		<li class="spacer">&nbsp;</li>

        <a ui-sref='round-details'>
    		<li class="game game-top winner">User 3</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">User 4</li>
      </a>

    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top ">User 5</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom winner">User 6</li>
      </a>

    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top winner">User 7</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">User 8</li>
      </a>

    		<li class="spacer">&nbsp;</li>
    	</ul>
    	<ul class="round round-2">
    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top winner">User 1</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">User 3</li>
      </a>

    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top winner">User 6</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">User 7</li>
      </a>

    		<li class="spacer">&nbsp;</li>

    	</ul>
    	<ul class="round round-3">
    		<li class="spacer">&nbsp;</li>

        <a ui-sref='round-details'>
    		<li class="game game-top winner">User 1</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">User 6</li>
      </a>

    		<li class="spacer">&nbsp;</li>
    	</ul>
    </main>
</ion-content>
</ion-view>
