<ion-view class='background'>
  <ion-content class="padding">
    <!-- <h5>{{vm.bracket}}</h5> -->
    <h1>{{vm.bracket[0].bracket_name}}</h1>
    <main id="tournament">
    	<ul class="round round-1">
    		<li class="spacer">&nbsp;</li>

        <a ui-sref='round-details'>
    		<li class="game game-top winner">{{vm.bracket[0].user_name}}</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">{{vm.bracket[1].user_name}}</li>
        </a>

    		<li class="spacer">&nbsp;</li>

        <a ui-sref='round-details'>
    		<li class="game game-top winner">{{vm.bracket[2].user_name}}</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">{{vm.bracket[3].user_name}}</li>
      </a>

    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top ">{{vm.bracket[4].user_name}}</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom winner">{{vm.bracket[5].user_name}}</li>
      </a>

    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top winner">{{vm.bracket[6].user_name}}</li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom ">{{vm.bracket[7].user_name}}</li>
      </a>

    		<li class="spacer">&nbsp;</li>
    	</ul>
    	<ul class="round round-2">
    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top winner"></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom "></li>
      </a>

    		<li class="spacer">&nbsp;</li>

          <a ui-sref='round-details'>
    		<li class="game game-top winner"></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom "></li>
      </a>

    		<li class="spacer">&nbsp;</li>

    	</ul>
    	<ul class="round round-3">
    		<li class="spacer">&nbsp;</li>

        <a ui-sref='round-details'>
    		<li class="game game-top winner"></li>
    		<li class="game game-spacer">&nbsp;</li>
    		<li class="game game-bottom "></li>
      </a>

    		<li class="spacer">&nbsp;</li>
    	</ul>
    </main>
</ion-content>
</ion-view>
