<ion-view class='background'>
  <ion-content class="padding">
    <form ng-submit='vm.setPlayerName()'>
    <div class="list">
      <h2>Bracket:{{vm.bracket}}</h2>
      <label class="item item-input item-stacked-label inputBoxes" >
        <span class="input-label">Create a Player Name</span>
        <input type="text" ng-model='vm.user.name' placeholder="Cool Player">
      </label>
      <input type="submit" id='bracketButton' class='btn btn-warning middle2'>Go to bracket! <i class='ion-arrow-right-c'></i></a>
    </div>
  </form>
</ion-content>
</ion-view>
