<ion-view class='background'>

  <ion-content class="padding">
<form ng-submit='vm.getBracketName()'>
<div class="list">
  <label id='inputBox1' class="item item-input item-stacked-label inputBoxes">
    <span class="input-label">Create a Bracket Name</span>
    <input type="text" ng-model='vm.bracket.name' placeholder="Bracket Title">
  </label><br>
  <label class="item item-input item-stacked-label inputBoxes" id='inputBox2'>
    <span class="input-label">Create a Player Name</span>
    <input type="text" ng-model='vm.user.name' placeholder="Cool Player">

  </label>
  <input ng-disabled="vm.beenClicked" type="submit" id='bracketButton' class='btn btn-warning middle2' value="Go to bracket!">
  <input ui-sref='home' id='bracketButton' type="button" class='btn btn-warning middle2' value="Go back home">

  <p ng-show="vm.beenClicked">Loading, dude.</p>

</div>
</form>
</ion-content>
</ion-view>
