<ion-view>
  <ion-content class="padding">
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Create a Bracket Name</span>
    <input type="text" placeholder="Bracket Title">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Create a Player Name</span>
    <input type="text" placeholder="Cool Player">
  </label>
  <a ui-sref='bracket' type="button" class='btn btn-success'>Go to bracket!</a>
</div>
</ion-content>
</ion-view>
