<ion-view class='background'>
  <ion-nav-bar class="bar bar-header navBackground">
    <ion-nav-title class="white">Bracket Maker</ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">
<a ui-sref='create-bracket-name' type="button" id='createButton' class='btn btn-warning text-center middle'>Create a Bracket <i class='ion-arrow-right-c'></i></a><br><br>
<a ui-sref='search-bracket-name' type="button" id='joinButton' class='btn btn-warning text-center middle'>Join a Bracket <i class='ion-arrow-right-c'></i></a>
</ion-content>
</ion-view>
