<ion-view class='background'>
  <ion-nav-bar class="bar bar-header navBackground">
    <ion-nav-title class="white">Bracket Maker</ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="padding">
<h1 class='text-center'>{{vm.player1.user_name}}</h1>
<h4 class='text-center'>vs</h4>
<h1 class='text-center'>{{vm.player2.user_name}}</h1>
<div class="list">
  <label id='round-details-label' class="item item-input item-select inputBoxes">
    <div class="input-label">
      Who won the match?
    </div>
    <select ng-model='winner'>
      <option ng-value='vm.player1.initial_location'>{{vm.player1.user_name}}</option>
      <option ng-value='vm.player2.initial_location'>{{vm.player2.user_name}}</option>
    </select>
  </label>
</div>
<button type="button" id='submitWinner' ng-click='vm.selectWinner(winner)' class='btn btn-warning middle3'>Submit Winner</button>
</ion-content>
</ion-view>
