<ion-view class='background'>
  <ion-content class="padding">
    <form ng-submit='vm.setBracketName()'>
      <label id='inputBox1' class="item item-input item-stacked-label inputBoxes">
        <span class="input-label">Enter the Bracket Name</span>
        <input type="text" ng-model="vm.bracket.name" value="" placeholder="Some bracket name">
      </label>
      <input id='bracketButton' ui-sref='choose-player-name({bracketName: vm.bracket.name})' type="submit" class='btn btn-warning middle2'>Get a name! <i class='ion-arrow-right-c'></i>
    </form>
</ion-content>
</ion-view>
